<div class="wrapper">
  <div class="form-signin form-horizontal">
    <h2 class="form-signin-heading text-center">Login</h2>
      <%= form_for :session, url: { action: "create" } do |f| %>
      <p class="form-control username"> Username: <%= f.text_field :username, :size => 28 %></p>
      <p class="form-control password"> Password: <%= f.password_field :password, :size => 28 %></p>
      <div class="text-center">
        <p><%= submit_tag "Submit", class: "btn btn-primary" %></p>
      </div>
    <% end %>
  </div>
</div>
