<div class="row">
	<div class="col-sm-6">
		<h1>Add Comment</h1>
		<%= form_for :comment, url: { action: 'create'} do |f| %>
			<p>
				<%= f.label :body %>
				<%= f.text_field :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</div>
</div>

