<h1>Leave a Review</h1>

<%= form_for :review, :url => new_review_path(@movie) do |f| %>
  <label>Title</label>
  <p>
    <%= f.text_field :title, class: 'row col-md-12' %>
  </p>
  <label>Content</label>
  <p>
    <%= f.text_area :body, class: "row col-md-12", size: '60x6' %>
  </p>

  <center>
    <%= submit_tag "Submit", class: 'btn-success btn-lg' %>
  </center>
<% end %>
