<div class="all-movies">
  <div class="mainpage-movies">
    <ul>
      <% @movies.each do |movie| %>
      	<div class="col-md-4 col-sm-6 text-center index-movie">
    	    <li>
              <a href="/movies/<%= movie.id%>">
              	<%= image_tag movie.poster_url.to_s, class: "movie-poster", size: "300x450" %>
    	      </a>
    	      <h4><%= link_to movie.title, movie_path(:id => movie.id), class: "movie-show-link" %></h4>
    	    </li>
    	  </div>
      <% end %>
    </ul>
  </div>
</div>
