<%= form_tag("/movies", method: "post", class: "well movie-form col-sm-4 col-sm-offset-4 text-center") do %>
  <label>Movie Title</label>
  <p>
    <%= text_field_tag(:movie_title) %>
  </p>
  <center>
    <%= submit_tag "Submit", class: 'btn-success btn-lg' %>
  </center>
<% end %>