/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.show-all-reviews {
  overflow: auto;
}

.right {
  position: relative;
  width: 55%;
  top: 0;
  float: right;
}

.top-right {
  top: 0;
  float: right;
}

.review {
  width: 100%;
  max-width: 800px;
}

.left {
  float: left;
  width: 40%;
}

.review-content {
  position: relative;
  top: 0;
  float: right;
  width: 60%;
}

.review-options {
  position: relative;
  width: 100%;
}

.new-review-form {
  position: relative;
}

#add-comment {
  margin-bottom: 30px;
}

.comment-partial {
  margin-bottom: 30px;
}

body {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #892570;
  padding: 10px;
  border-width: 3px;
  border-color: #3a6186;
  font-size: 1.4em;
}

.navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

.dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: white;
   text-decoration: none;
   font-family: 'Lato', sans-serif;
  background-color: #3a6186;  /*change color of links in drop down here*/
   }

#dukeflix {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
}

.nav.navbar-nav.navbar-right > li > a {
    color: white;
}

.genre-list-item a {
  color: black;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  .username {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .password {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.movie-show {
  background: white;
  padding: 40px;
}

.index-movie {
  padding-top: 30px;
}

.movie-show-link {
  font-size: 1.5em;
}

.movie-show-link,  .movie-show-linkt:hover, .movie-show-link:active, .movie-show-link:visited {
  color: white;
  text-decoration: none;
}

.movie_hover {
  background-color: #cc5be4;
}
